.announcement-bar {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 2px 0;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20px;
}

.announcement-bar p {
    margin: 0;
    font-size: 11px;
    line-height: 0.8;/*Announcement Height Adjust*/
    font-weight: 450;
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (max-width: 768px) {
    

    .announcement-bar {
        padding: 12px 0;
        min-height: 45px;
    }
    
    .announcement-bar p {
        font-size: 13px;
        padding: 0 15px;
    }
} 

/* Arrow styling */
.announcement-bar p::after {
    /* content: "→"; */
    display: inline-block;
    margin-left: 4px;
}





@media (max-width: 480px) {
    .announcement-bar {
        min-height: 45px;
        padding: 12px 0;
    }
}